@model IEnumerable<UserSignupLogin.Models.TBLUserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.IdUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeUs)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmailUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileUs)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdUs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NameUs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GenderUs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AgeUs)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.EmailUs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreditCardUs)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FileUs)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
